body{
    font-family: sans-serif;
    background-color: black;
}

#container{
    width: 1000px;
    height: 550px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(image/download\ \(1\).jpg);
    margin: 20px auto;
}